head
	style(type='text/css').
		table {
		font-family: arial,sans-serif;
		font-size:11px;
		border-collapse: collapse;
		border-spacing: 0;
		color:#333333;
		}
		table thead, tfoot {
		display: table-row-group;
		}
		table th {
		border-width: 1px;
		padding: 4px;
		color: white;
		border:1px solid #ddd;
		background-color: #4888af ;
		border-collapse: collapse;
		}
		table td {
		padding: 4px;
		background-color: white ;
		border:1px solid #ddd;
		border-collapse: collapse;
		}
		table tbody tr.estUnTitre td, table tfoot tr.estUnTitre td  {
		background-color: #ccc !important;
		font-weight: bold !important;
		}
body
	table(style='width:100%')
		tr
			th Identifiant
			th Nom
			th Departement
		tr
			td 998 
			td ETS SERRANO FRERES S.A.
			td 64
		tr
			td 830 
			td MEGISSERIE MOISAND SARL
			td 31